body{
  background-color: rgb(25,25,25);
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.heading{
  font-weight: bold;
  font-size: 30px;
}
.image-design{
  height: 50px;
}
.move{
  background-color: transparent;
  border: 3px solid white;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-right: 10px;
  cursor: pointer;
}
.result {
  font-size: 25px;
  font-weight: bold;
  margin-top: 50px;
}
.score{
  margin-top: 60px;
}
.reset-button,
.auto-play-css{
  background-color: white;
  border: none;
  font-size: 15px;
  padding: 8px 15px;
  cursor: pointer;
} 

.Note{
  color: rgb(228, 12, 12);
  padding-top: 1.5%;
}
